.banner{    
    img{
        width: 100%;
    }
    .btn img{
        width: auto;
    }
}
.intro{
    width: 70%;
    background: $white;
    margin-top: -6rem;
    padding: 4rem;
    border-radius: 3px;
    margin-left:-4rem;

    h1{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 800px) {
    .intro{
        width: 100%;
        margin: 0;
        padding: 3rem 0;
        text-align: center;
    }
} 
