.client-carousel{
    background:$red;
    position: relative;
    top: -2rem;

    .contain{
        max-width: 1300px;
        margin:0 auto;
        padding:4rem 0;
    }

    .slick-track{
        display: flex;
        align-items: center;
    }

    .slick-slide{
        text-align: center;

        img{
            display: inline-block;
        }
    }
}
@media screen and (max-width: 800px) {
    .client-carousel {
        .contain{
            padding:1.5rem 0;
        }
        .slick-slide img{
            max-width:100px;
            padding:0 1rem;
        }
    }
}