footer{
    background:$black;
    color:$white;
    padding:4rem 0;
    background: $black url(../images/logo-california-bear.png) no-repeat 80% 110%;
    background-size: 20%; 

    .container{
        align-items: end;
    }

    .copy{
        width: 50%;
        display: flex;
        justify-items: baseline;
        justify-content: baseline;
        flex-wrap: wrap;

        h2{
            width: 100%;
            margin-bottom: 0;
        }
    }

    nav{
        width: 50%;

        .nav{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;

            li{
                width: 24%;

                a{
                    color:$white;
                }
            }
        }
    }
    .shield{
        margin-right: 2rem;
    }
}

.copyright{
    padding:1.5rem 0;
    
    p{
        text-align: right;
        width:100%;
    }
}

@media screen and (max-width: 800px) {
    footer{
        background:$black;
        .copy{
            width:100%;
            text-align: center;
            justify-content: center;
            h2{
                text-align: center;
            }
        }
        nav{
            width:100%;
            margin-top:2rem;

            li{
                width:49%;
            }
        }
    }
    .copyright p{
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    footer nav .nav {
        justify-content: center;
        
        li{
            width: auto;
            margin:.5rem;

            &:after{
                content:'•';
                width:5px;
                height: 5px;
                margin-left:.5rem;
            }

            &:last-of-type:after{
                content:'';
            }
        }
    }
}