.services{

    .container{
        flex-wrap: wrap;
    }
    .overview{
        width: 100%;
        display:flex;
        align-items: stretch;
        justify-content: space-between;
        align-content: stretch;

        .copy{
            background:$red;
            padding:5rem;
            width: 50%;
            display: flex;
            align-content: center;
            align-items: center;

            p{
                color:$white;
            }
        }
        img{
            width:48%;
            margin-left:2%;
        }

    }
    .all-services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        transition:.2s all;

        .service{
            width: 45%;
            padding:6rem 0;
            position: relative;

            &:after{
                transition: all .2s;
            }

            h2{
                transition: all .2s;
            }

            &:hover{

                h2{
                    color:$red;
                }
            }

            .hover {
                transition: all 0.2s ease-in-out;;
                position: relative;
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  bottom: -10px;
                  width: 0px;
                  height: 5px;
                  margin: 5px 0 0;
                  transition: all 0.2s ease-in-out;;
                  transition-duration: 0.25s;
                  opacity: 0;
                  background-color: $red;
                }
                &.hover-1 {
                  &:before,
                  &:after {
                    left: 0;
                  }
                }
              }
              &:hover {
                cursor: pointer;
                .hover {
                  &:before,
                  &:after {
                    width: 100%;
                    opacity: 1;
                  }
                }
              }

            p{
                margin-bottom: 1rem;
            }
        }
    }
    .footer-image{
        img{
            width: 100%;
            display: block;
        }
    }
    footer{
        .container{
            flex-wrap: nowrap;
        }
    }
}

@media screen and (max-width: 800px) {
    .services{
        header{
            .container{
                flex-wrap: nowrap;
            }
        }
        .copy{
            
            p{
                margin-bottom: 3rem;
            }
        }
        .overview{
            flex-wrap: wrap;
            img{
                width: 100%;
                margin:0;
            }
            .copy{
                display: none;
            }
        }
        .all-services{
            width:100%;

            .service{
                width:100%;
                text-align: center;
                padding: 2rem 0;
            }
        }
        footer .container{
            flex-wrap: wrap;
        }
    }
  }